@media (min-width: 769px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .estimate {
        font-size: 1.1rem;
    }

    .estimate ul {
        display: flex;
        justify-content: center;
        gap: 25px;
        list-style-type: none;
    }
    
    .estimate ul li{
        text-decoration: none;
    }
    
    .estimate ul li+li::before {
        content: "|";
        padding-right: 25px;
    }

    .estimate ul li span{
        display: inline;
    }

    section.prep-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger-layers-img img {
        display: block;
    }
}